---
title: "#BlackLivesMatter"
layout: base
---

<!-- <div class="whitesilence">
    <div>
        <h1 class="red">WHITE SILENCE</h1>
        <h1 class="bs">IS BETRAYAL</h1>
    </div>
</div> -->
<div class="center-img">
    <img src="/images/KENNESAW.png">
    <p class="formore">SCROLL FOR MORE INFO</p>
</div>
<header class="kennesaw">
    <h1>Kennesaw</h1>
</header>

<div class="black-bg">
    <div class="inner">
        <p class="statement">KENNESAW, GA HAS A HISTORY with racism.</p>
        <p>
            If you grow up in Kennesaw, as 6,400 children and teenagers are according to the 2018 census, you grow up in a city that decided only in 2020 to remove
            the Confederate Flag from its City Hall.
        </p>
        <p>
            You grow up in a city whose Main Street has for nearly 50 years been plagued by five years of "heritage" that ended over 150 years ago.
        </p>
        <p>
            On June 20th, 2020, we will be uniting against racism in Kennesaw.
        </p><p>
            At 2:30 PM, begin gathering in cars at Swift-Cantrell park. At 3:00 PM we will drive down N Main St, turn onto Watts Dr, head down
            Cobb Pkwy to Nance Rd, then back to Swift-Cantrell Park.
        </p><p>
            At 3:30 PM, begin gathering at Swift-Cantrell Park. At 4:00 PM, we'll start walking down Main St. We'll stop at Wildman's Dent Myers
            to peacefully protest his display of racist symbols, before continuing to Kennesaw City Hall where we'll gather and kneel for 9 minutes.
            Afterwards, walk back to Swift-Cantrell Park.
        </p>
        <p>
            Not sure if you should come? Read: <a target="_blank" href="https://www.today.com/parents/parent-s-tips-attending-peaceful-protests-kids-t183361">
                'So glad I did it': Mom takes son, 7, to peaceful protest
            </a>
        </p>
        <p>If you have any concerns or want to support this protest, please email me at <a href="mailto:jamespatrickdill@gmail.com">jamespatrickdill@gmail.com</a>.</p>
    </div>
</div>

<div class="statue">
    <div class="inner" style="text-align: center">
        <h1>SAY THEIR NAMES</h1>
        <p>GEORGE FLOYD</p>
        <p>ERIC GARNER</p>
        <p>JOHN CRAWFORD III</p>
        <p>MICHAEL BROWN</p>
        <p>EZELL FORD</p>
        <p>DANTE PARKER </p>
        <p>MICHELLE CUSSEAUX </p>
        <p>LAQUAN MCDONALD</p>
        <p>TANISHA ANDERSON</p>
        <p>AKAI GURLEY</p>
        <p>TAMIR RICE</p>
        <p>RUMAIN BRISBON</p>
        <p>JERAME REID</p>
        <p>GEORGE MANN</p>
        <p>MATTHEW AJIBADE</p>
        <p>FRANK SMART</p>
        <p>NATASHA MCKENNA</p>
        <p>TONY ROBINSON</p>
        <p>ANTHONY HILL</p>
        <p>MYA HALL</p>
        <p>PHILLIP WHITE</p>
        <p>ERIC HARRIS</p>
        <p>WALTER SCOTT</p>
        <p>WILLIAM CHAPMAN</p>
        <p>ALEXIA CHRISTIAN </p>
        <p>BRENDON GLENN </p>
        <p>VICTOR MANUEL LAROSA</p>
        <p>JONATHAN SANDERS </p>
        <p>FREDDIE BLUE </p>
        <p>JOSEPH MANN</p>
        <p>SALVADO ELLSWOOD</p>
        <p>SANDRA BLAND</p>
        <p>ALBERT JOSEPH DAVIS</p>
        <p>DARRIUS STEWART </p>
        <p>BILLY RAY DAVIS </p>
        <p>SAMUEL DUBOSE</p>
        <p>MICHAEL SABBIE </p>
        <p>BRIAN KEITH DAY </p>
        <p>CHRISTIAN TAYLOR</p>
        <p>TROY ROBINSON </p>
        <p>ASSHAMS PHAROAH MANLEY </p>
        <p>FELIX KUMI</p>
        <p>KEITH HARRISON MCLEOD</p>
        <p>JUNIOR PROSPER</p>
        <p>LAMONTEZ JONES</p>
        <p>PATERSON BROWN</p>
        <p>DOMINIC HUTCHINSON</p>
        <p>ANTHONY ASHFORD</p>
        <p>ALONZO SMITH</p>
        <p>TYREE CRAWFORD</p>
        <p>INDIA KAGER</p>
        <p>LA’VANTE BIGGS</p>
        <p>MICHAEL LEE MARSHALL</p>
        <p>JAMAR CLARK </p>
        <p>RICHARD PERKINS</p>
        <p>NATHANIEL HARRIS PICKETT</p>
        <p>BENNIE LEE TIGNOR</p>
        <p>MIGUEL ESPINAL</p>
        <p>MICHAEL NOEL </p>
        <p>KEVIN MATTHEWS </p>
        <p>BETTIE JONES</p>
        <p>QUINTONIO LEGRIER </p>
        <p>KEITH CHILDRESS JR.</p>
        <p>JANET WILSON</p>
        <p>RANDY NELSON </p>
        <p>ANTRONIE SCOTT </p>
        <p>WENDELL CELESTINE</p>
        <p>DAVID JOSEPH </p>
        <p>CALIN ROQUEMORE </p>
        <p>DYZHAWN PERKINS</p>
        <p>CHRISTOPHER DAVIS </p>
        <p>MARCO LOUD </p>
        <p>PETER GAINES</p>
        <p>TORREY ROBINSON </p>
        <p>DARIUS ROBINSON </p>
        <p>KEVIN HICKS</p>
        <p>MARY TRUXILLO </p>
        <p>DEMARCUS SEMER </p>
        <p>WILLIE TILLMAN</p>
        <p>TERRILL THOMAS </p>
        <p>SYLVILLE SMITH </p>
        <p>ALTON STERLING</p>
        <p>PHILANDO CASTILE </p>
        <p>TERENCE CRUTCHER </p>
        <p>PAUL O’NEAL</p>
        <p>ALTERIA WOODS</p>
        <p>JORDAN EDWARDS</p>
        <p>AARONBAILEY</p>
        <p>RONELL</p>
        <p>FOSTER</p>
        <p>STEPHON CLARK</p>
        <p>ANTWON ROSEII </p>
        <p>BOTHAM JEAN</p>
        <p>PAMELA TURNER</p>
        <p>DOMINIQUE CLAYTON</p>
        <p>ATATIANA JEFFERSON</p>
        <p>CHRISTOPHER WHITFIELD </p>
        <p>CHRISTOPHER MCCORVEY</p>
        <p>ERIC REASON </p>
        <p>MICHAEL LORENZO DEAN </p>
        <p>BREONNA TAYLOR</p>
    </div>
</div>
<div class="blackwhite">
    <div class="left">
        <h1>FIGHT</h1>
        <a href="https://blacklivesmatters.carrd.co/#protesters" target="_blank">IMPORTANT RESOURCES FOR PROTESTORS</a>

        <h1>SIGN</h1>

        <ul>
            {% for petition in site.data.petitions %}
                <li>
                    <a href="{{ petition.link }}" target="_blank">{{ petition.name | upcase }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="right">
        <h1>DONATE</h1>

        <ul>
            {% for donation in site.data.donations %}
                <li>
                    <a href="{{ donation.link }}" target="_blank">{{ donation.name | upcase }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>